@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

.nav-bar {
    background-color: hsla(0, 89%, 28%, 70%);
    color: white;
    font-size: 20px;
    padding: 8px 15px;
    gap: 20px;
    display: flex;
    align-items: center;
}

.nav-item {
    cursor: pointer;
    padding: 5px;
}

.nav-item:hover {
    background-color: hsla(0, 89%, 28%, 80%);
}

.nav-sidebar {
    background-color: hsla(0, 89%, 28%, 70%);
    position: absolute;
    left: 0;
    display: grid;
    gap: 5px;
    width: 0px;
    transition: ease 0.3s;
    color: #fff;
    visibility: hidden;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}

.close-sidebar {
    cursor: pointer;
}

.close-sidebar:hover {
    color: #000;
}

.projects-container {
    font-size: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease 0.3s;
    z-index: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EADDCA;
    border-radius: 10px;
    width: 600px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.main-header {
    display: flex;
    gap: 15px;
    align-items: baseline;
    margin-bottom: 15px;
}

.header-today {
    font-size: 30px;
    font-weight: 700;
}

.task-container {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    width: 100%;
    white-space: nowrap;
    border-top: 2px solid hsla(0,0%,38%,10%);
    padding: 10px;
}

.task-icon {
    min-height: 12px;
    min-width: 12px;
    border: 2px solid #880808;
    border-radius: 50%;
    cursor: pointer;
}

.task-icon:hover {
    box-shadow: 0 1px 5px black;
}

.task-input {
    text-overflow: ellipsis;
    overflow: hidden;
}

.task-date {
    border-left: 2px solid hsla(0,0%,38%,10%);
    padding-left: 5px;
}

.task-edit {
    color: #000;
    cursor: pointer;
}

.task-edit:hover {
    color: #0022BB;
    scale: 1.1;
}

.add-task-btn {
    font-size: 30px;
    cursor: pointer;
    transition: ease 0.3s;
    color: hsla(0,0%,38%,70%);
}

.add-task-container, .edit-task-container {
    background-color: hsla(0,0%,38%,60%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 1;
}

.add-task-content, .edit-task-content {
    background-color: #EADDCA;
    display: flex;
    flex-direction: column;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: hidden;
    padding: 10px;
    border-radius: 8px;
}

.add-task-title, .edit-task-title {
    font-size: 20px;
    border-bottom: 2px solid hsla(0,0%,38%,10%);
    border: none;
    outline: none;
}

.add-task-description, .edit-task-description {
    margin: 10px 0;
    resize: none;
    border: none;
    font: inherit;
}

.add-task-flags, .edit-task-flags {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 10px 0;
    gap: 15px;
}

.add-task-flags > div, .edit-task-flags > div {
    cursor: pointer;
}

.add-task-flags > div:hover, .edit-task-flags > div:hover {
    scale: 1.3;
}

.add-task-action-container, .edit-task-action-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.add-task-action-container > div, .edit-task-action-container > div {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 8px;
}

.add-task-submit, .edit-task-submit{
    background-color: #880808;
    color: #fff;
}

.add-task-submit:hover, .edit-task-submit:hover {
    scale: 1.1;
    box-shadow: 0 1px 6px #000;
}

.hover-standard:hover {
    scale: 1.1;
    color: hsla(0,0%,38%,90%);
}
